{{#extends 'base'}}

{{#block 'title'}}
Edit City
{{/block}}

{{#block 'content'}}
<h1>Edit City</h1>
<form method="POST">
<div>
    <label class="form-label">City Name</label>
    <input type="text" name="city" class="form-control" value="{{city.city}}"/>
</div>
<div>
    <label class="form-label">Country:</label>
    <select name="country_id" class="form-control"/>
        {{#each countries}}
            <option value="{{this.country_id}}" {{#eq this.country_id ../city.country_id}}selected{{/eq}}>{{this.country}}</option>
        {{/each}}
    </select>
</div>
<input type="submit" value="Update" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}